<head>
    <title>Join Us</title>
    <link rel="stylesheet" href="/app.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@100&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="flex-container">
        <div class="container">
            <h1>Join Us</h1>
            <p class="lead">Enter your email to join <strong><%= count %></strong> others on our waitlist. We are 100% not a cult!</p>
            <form action="/register" method="POST">
                <input type="text" class="form" name="email" id="email" placeholder="Enter your email">
                <button>Join Now</button>
            </form>
        </div>
    </div>
</body>