body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  color: rgb(66,69,86);
  background-image: url('http://i.imgur.com/BJP2Q1j.jpg');
  background-size: cover;
  font-weight: 100;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

h1 {
  margin: 0;
  font-size: 400px;
  line-height: 400px;
  font-weight: 100;
}

.lead {
  font-size: 40px;
  margin: 0;
}

.form {
  line-height: 1.5;
border: none;
  border-bottom: 3px solid #ebebeb;
  margin-top: 50px;
  width: 700px;
  font-size: 2em;
  color: white;
  padding: 5px 10px;
  background: transparent;
}

button {
  line-height: 2.0;
  border: 3px solid white;
  border-radius: .5em;
  font-size: 1.5em;
  color: rgb(66, 69, 86);
  padding: 5px 30px;
  background: white;
  opacity: 0.8;
}

input[type=text]:focus {
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.8);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.8);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255, 255, 255, 0.8);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(255, 255, 255, 0.8);
}